@import 'common';

html,
body,
div.fill-parent {
  @include fill-parent;
}


html, body, div, button, input, select, textarea {
  font-family: 'Open Sans';
}

h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}


