/*
  Document   : t-addmenu
  Created on : 12-Sep-2013, 13:04:54
  Author     : evilfer
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
  display: block;
}
