

.t-add-menu-anchor {
  position: relative;
}

.t-add-menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0 10px 10px 30px;
}

.t-add-menu-popup {
  padding: .5em;
  border: 1px solid #129FEA;
  border-radius: 6px;
  background: white;
}
