
.t-flex {
  display: flex;
  display: -webkit-flex;
}

.t-flex-container-h {
  @extend .t-flex;
  
  flex-direction: row;
  -webkit-flex-direction: row; 
}

.t-flex-container-v {
  @extend .t-flex;
  
  flex-direction: column;
  -webkit-flex-direction: column; 
}

.t-flex-child-1 {
  @extend .t-flex;
  
  flex: 1;
  -webkit-flex: 1;
}
