/*
  Document   : t-measures
  Created on : 13-Sep-2013, 11:07:40
  Author     : evilfer
  Description:
  Purpose of the stylesheet follows.
*/

/*
  TODO customize this sample style
  Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

root {
  display: block;
}
