
.t-canvas-main {
  @extend .t-flex-container-h;
  @extend .t-flex-child-1;
}

.t-canvas {
  @extend .t-flex-child-1;
  position: relative;
}

.t-canvas > canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
