
.t-simulation-page {
  @extend .t-full-box;
  @extend .t-flex-container-v;
}

.t-simulation-footer,
.t-simulation-header {
  width: 100%;
  height: 50px;
}

.t-simulation-main {
  @extend .t-flex-container-h;
  @extend .t-flex-child-1;
}

.t-simulation-specification {
  @extend .t-flex-container-v;
  @extend .t-padded-box-10;
  width: 367px;
  
  resize: horizontal;
  overflow: auto;
}

.t-simulation-specification-menu {
  margin-bottom: 1em;  
}

.t-simulation-view {
  @extend .t-flex-child-1;
}
